.gitattributes text eol=lf
.gitignore text eol=lf
contracts/abi/**/*.json text eol=lf
contracts/storage-layout/**/*.json text eol=lf
contracts/sizes/**/*.json text eol=lf
contracts/slither.db.json text eol=lf
backend/**/*.go text eol=lf
backend/**/*.sql text eol=lf
backend/**/*.md text eol=lf
backend/go.mod text eol=lf
backend/go.sum text eol=lf
